//text colors

$main-black: #000000;

$main-blue: #3880F4;
$helper-blue: #C5E8F8;
$light-blue: #08B3F7;
$blue: #1A64DA;

$main-green: #99F2DC;

$main-gray: #E0E0E0;

$facebook: #3B5999;
$telegram: #61A8DE;
$vk: #47668D;
$insta: linear-gradient(208.9deg, #2D2D87 -4.58%, #CB319C 28.52%, #FF4D95 53.74%, #FF5D4A 76.86%, #FDE494 96.3%);


