include ../helper-mixins/svg-mix

block main-speak
    section.section
        .main-speak
            .main-speak__container
                .main-speak__wrapper
                    h2.main-speak__title только самые острые и реальные
                        img(src='img/line-1.png')
                    .h2.main-speak__info Спикеры и темы, которые волнуют всех нас каждый рабочий день
                    .main-speak__people
                        .main-speak__people-item
                            img(src='img/foto-1.jpg')
                            a(href='#').main-speak__people-item-name Валентин Куринька
                            .main-speak__people-item-company Name company
                            .main-speak__people-item-social
                                a(href='#').main-speak__people-item-social-facebook
                                    +svg-mix('facebook', 'facebook')
                                a(href='#')
                                    +svg-mix('vk', 'vk')
                                a(href='#')
                                    +svg-mix('insta', 'insta')
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')
                        .main-speak__people-item
                            img(src='img/foto-2.jpg')
                            a(href='#').main-speak__people-item-name Алексей Тарасов
                            .main-speak__people-item-company Name company
                            .main-speak__people-item-social
                                a(href='#')
                                    +svg-mix('facebook', 'facebook')
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')
                        .main-speak__people-item
                            img(src='img/foto-3.jpg')
                            a(href='#').main-speak__people-item-name Борис Вишняков
                            .main-speak__people-item-company CVS
                            .main-speak__people-item-social
                                a(href='#')
                                    +svg-mix('vk', 'vk')
                                a(href='#')
                                    +svg-mix('insta', 'insta')
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')
                        .main-speak__people-item
                            img(src='img/foto-4.jpg')
                            a(href='#').main-speak__people-item-name Дмитрий Ботов
                            .main-speak__people-item-company Name company
                            .main-speak__people-item-social
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')
                        .main-speak__people-item
                            img(src='img/foto-2.jpg')
                            a(href='#').main-speak__people-item-name Валентин Куринька
                            .main-speak__people-item-company Name company
                            .main-speak__people-item-social
                                a(href='#')
                                    +svg-mix('facebook', 'facebook')
                                a(href='#')
                                    +svg-mix('vk', 'vk')
                                a(href='#')
                                    +svg-mix('insta', 'insta')
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')
                        .main-speak__people-item
                            img(src='img/foto-3.jpg')
                            a(href='#').main-speak__people-item-name Алексей Тарасов
                            .main-speak__people-item-company Name company
                            .main-speak__people-item-social
                                a(href='#')
                                    +svg-mix('facebook', 'facebook')
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')
                        .main-speak__people-item
                            img(src='img/foto-4.jpg')
                            a(href='#').main-speak__people-item-name Борис Вишняков
                            .main-speak__people-item-company CVS
                            .main-speak__people-item-social
                                a(href='#')
                                    +svg-mix('vk', 'vk')
                                a(href='#')
                                    +svg-mix('insta', 'insta')
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')
                        .main-speak__people-item
                            .main-speak__people-item-animal
                                p Крутой чувак;)
                            img(src='img/foto-5.png')
                            a(href='#').main-speak__people-item-name Валентин Куринька
                            .main-speak__people-item-company Name company
                            .main-speak__people-item-social
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')
                        .main-speak__people-item
                            img(src='img/foto-3.jpg')
                            a(href='#').main-speak__people-item-name Валентин Куринька
                            .main-speak__people-item-company Name company
                            .main-speak__people-item-social
                                a(href='#')
                                    +svg-mix('facebook', 'facebook')
                                a(href='#')
                                    +svg-mix('vk', 'vk')
                                a(href='#')
                                    +svg-mix('insta', 'insta')
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')
                        .main-speak__people-item
                            img(src='img/foto-4.jpg')
                            a(href='#').main-speak__people-item-name Алексей Тарасов
                            .main-speak__people-item-company Name company
                            .main-speak__people-item-social
                                a(href='#')
                                    +svg-mix('facebook', 'facebook')
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')
                        .main-speak__people-item
                            img(src='img/foto-1.jpg')
                            a(href='#').main-speak__people-item-name Борис Вишняков
                            .main-speak__people-item-company CVS
                            .main-speak__people-item-social
                                a(href='#')
                                    +svg-mix('vk', 'vk')
                                a(href='#')
                                    +svg-mix('insta', 'insta')
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')
                        .main-speak__people-item
                            img(src='img/foto-2.jpg')
                            a(href='#').main-speak__people-item-name Валентин Куринька
                            .main-speak__people-item-company Name company
                            .main-speak__people-item-social
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')
                        .main-speak__people-item
                            img(src='img/foto-4.jpg')
                            a(href='#').main-speak__people-item-name Валентин Куринька
                            .main-speak__people-item-company Name company
                            .main-speak__people-item-social
                                a(href='#')
                                    +svg-mix('facebook', 'facebook')
                                a(href='#')
                                    +svg-mix('vk', 'vk')
                                a(href='#')
                                    +svg-mix('insta', 'insta')
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')
                        .main-speak__people-item
                            img(src='img/foto-1.jpg')
                            a(href='#').main-speak__people-item-name Алексей Тарасов
                            .main-speak__people-item-company Name company
                            .main-speak__people-item-social
                                a(href='#')
                                    +svg-mix('facebook', 'facebook')
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')
                        .main-speak__people-item
                            img(src='img/foto-2.jpg')
                            a(href='#').main-speak__people-item-name Борис Вишняков
                            .main-speak__people-item-company CVS
                            .main-speak__people-item-social
                                a(href='#')
                                    +svg-mix('vk', 'vk')
                                a(href='#')
                                    +svg-mix('insta', 'insta')
                                a(href='#')
                                    +svg-mix('telegram', 'telegram')

