include ../helper-mixins/svg-mix

block header
    header.header
        .header__container
            .header__wrapper
                a(href='#').header__logo
                    img(src='img/logo.png' alt='logo')
                ul.header__menu
                    li
                        a(href='#') ТТС 2021
                        img(src='img/line-1.png')
                    li
                        a(href='#') Встречи
                    li
                        a(href='#') Доклады
                    li
                        a(href='#') Партнерам
                    li
                        a(href='#') Новости
                    li
                        a(href='#') Контакты
                .header__clients
                    a(href='#').header__clients-partner стать партнером
                    a(href='#').header__clients-part участвовать в ттс`21



